{% load staticfiles %}
<html>
        <head>
            <title>Davinci Code Game</title>
        </head>
        <body bgcolor = "white" style = "padding : 40px 20px 0px 40px;" >
            <div>
            <center><img src="{% static "davinci2.png" %}" width= "800" height="150"></center>
            
            </div>
            
        <div align = "center">
        </br></br></br>
        

     <form method = "post" action="../explanation/">
     
     <h3>ID : <input type="text" name="nickname" style="width:15%; height:5%;" />
        <button type="submit" value="login" style="width:7%; height:5%;">Login</button>
    </form>
<span align="center"><h4>닉네임을 입력하세요.</h4></p>
        </div>

        </br></br></br></br></br></br></br>
        <div align="right" style = "padding : 0px 20px 0px 0px;">
        <p><h4>제작자 : 박라현, 설아현, 지대철, 지민규</h4></p>
            </div>
        </body>
    </html>
